<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Missyo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TRF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
 
 <exceptionHandling>
    <exceptionPolicies>
      <add name="Direct Data Access Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add exceptionMessage="Generic error, please contact admin." exceptionMessageResourceType="" wrapExceptionType="System.ApplicationException, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="Wrap Handler" />
              <add type="SDG.ExceptionHandling.GenericError, SDG" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.NullReferenceException, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
            <exceptionHandlers>
              <add exceptionMessage="Object does not exist, please contact admin." exceptionMessageResourceType="" wrapExceptionType="System.ApplicationException, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="Wrap Handler" />
              <add type="SDG.ExceptionHandling.GenericError, SDG" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.Data.SqlClient.SqlException, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException" name="SqlException">
            <exceptionHandlers>
              <add exceptionMessage="SQL Error, please contact admin." exceptionMessageResourceType="" wrapExceptionType="System.ApplicationException, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="Wrap Handler" />
              <add type="SDG.ExceptionHandling.GenericError, SDG" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Global Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="SDG.ExceptionHandling.GenericError, SDG" name="Application Message Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Handle and Resume Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="SDG.ExceptionHandling.GenericError, SDG, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Propagate Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="SDG.ExceptionHandling.GenericError, SDG, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Propagate Policy WS">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="SDG.ExceptionHandling.GenericErrorWs, SDG, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <appSettings>
    <add key="UserFilesPath" value="/Web/UserFiles" />
    <add key="EmailMittente" value="noreply@sdgitaly.it" />
    <add key="SmtpServer" value="localhost" />
    <add key="ApplicationType" value="VirtualDirectory" />
  </appSettings>
  <connectionStrings>
    
    <add name="CONNECTION_STRING" connectionString="server=10.0.0.10;database=SDG-DEMO;user=sdg_sviluppo;password=PASSWORD" providerName="System.Data.SqlClient"/>
    <!--<add name="CONNECTION_STRING_WORKFLOW" connectionString="server=10.0.0.10;database=MISSYO-DEMO;user=sdg_sviluppo;password=PASSWORD" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.web>
    <!--<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>-->
    <authentication mode="Forms">
      <forms loginUrl="Web/Login/frm_LGN.aspx" name="sqlAuthCookie" timeout="480" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!--<customErrors mode="On" defaultRedirect="CustomErrorMessage.aspx">
      <error statusCode="403" redirect="CustomErrorMessage.aspx" />
      <error statusCode="404" redirect="CustomErrorMessage.aspx" />
    </customErrors>-->
    <customErrors mode="Off" />
    <sessionState timeout="60" />
    <httpRuntime maxRequestLength="5000" requestValidationMode="2.0" />
	  
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="SDG, Version=2.0.0.0, Culture=neutral" />
      </assemblies>
    </compilation>
    <!--
          ASMX is mapped to a new handler so that proxy javascripts can also be served.
    -->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <httpHandlers>
      <add verb="GET,HEAD" path="*.js" type="FileBundleHandler" validate="false" />
      <add verb="GET,HEAD" path="*.css" type="FileBundleHandler" validate="false" />
      <add verb="*" path="*.zip" type="ProtectedContentHandler" />
      <add verb="*" path="*.pdf" type="ProtectedContentHandler" />
      <add verb="*" path="*.xls" type="ProtectedContentHandler" />
      <add verb="*" path="*.png" type="ProtectedContentHandler" />
      <add verb="*" path="*.jpg" type="ProtectedContentHandler" />
      <add verb="*" path="*.msg" type="ProtectedContentHandler" />
    </httpHandlers>
    <globalization culture="auto" uiCulture="auto:it-IT" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" />
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="FileBundleHandlerJs" verb="GET,HEAD" path="*.js" type="FileBundleHandler" resourceType="Unspecified" allowPathInfo="true" />
      <add name="FileBundleHandlerCss" verb="GET,HEAD" path="*.css" type="FileBundleHandler" resourceType="Unspecified" allowPathInfo="true" />
      <add name="FileZip" verb="*" path="*.zip" type="ProtectedContentHandler" resourceType="Unspecified" allowPathInfo="true" />
      <add name="FilePdf" verb="*" path="*.pdf" type="ProtectedContentHandler" resourceType="Unspecified" allowPathInfo="true" />
      <add name="FileXls" verb="*" path="*.xls" type="ProtectedContentHandler" resourceType="Unspecified" allowPathInfo="true" />
      <add name="FilePng" verb="*" path="*.png" type="ProtectedContentHandler" resourceType="Unspecified" allowPathInfo="true" />
      <add name="FileJpg" verb="*" path="*.jpg" type="ProtectedContentHandler" resourceType="Unspecified" allowPathInfo="true" />
      <add name="FileMsg" verb="*" path="*.msg" type="ProtectedContentHandler" resourceType="Unspecified" allowPathInfo="true" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
<!--  <infragistics.web imageDirectory="~/Infragistics/Images/" javaScriptDirectory="~/Infragistics/Scripts/" styleSetPath="~/Infragistics/StyleLibraries/" enableAppStyling="True" styleSetName="Default"/>-->
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <applicationSettings>
    <Missyo.Properties.Settings>      
    </Missyo.Properties.Settings>
    <TRF.Properties.Settings>
    </TRF.Properties.Settings>
  </applicationSettings>  
  <location path="Web/Login/frm_LGN.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="DefaultErrorMessage.htm">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Web/Css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Web/JScript">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Web/Images">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Web/assets">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Web/Login/m_LGN.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Web/Login/frm_BYP.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="trace.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
